body {
  text-align: center;
  transition: background-color 0.5s;
}

h1, h2 {
  color: #333;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  border: 1px solid #333;
}

label {
  display: block;
  margin: 10px 0;
}

select, input, button {
  margin: 5px 0;
}

button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode h1, .dark-mode h2 {
  color: #fff;
}

.dark-mode label, .dark-mode th, .dark-mode td {
  border-color: #ddd;
  color: #ddd;
}

.dark-mode button {
  background-color: #555;
}

/* Cookie Consent Styles */
.cookie-consent {
  display: none;
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cookie-consent button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
  cursor: pointer;
}

.cookie-consent button:hover {
  background-color: #45a049;
}
